<div class="row">
{{#each pages}}
<div class="col s12 m4 amatic">
  <a href="{{this.url}}">
    <div class="card-panel hoverable">
      <h2 class="black-text">{{this.title}}</h2>
    </div>
  </a>
  </div>
{{/each}}
</div>
